<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyBanSach.Properties.Settings.testConnectionString"
            connectionString="Data Source=DESKTOP-291A4MD;Initial Catalog=test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyBanSach.Properties.Settings.LoginConnectionString"
            connectionString="Data Source=DESKTOP-291A4MD;Initial Catalog=Login;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyBanSach.Properties.Settings.QuanLyBanSachConnectionString"
            connectionString="Data Source=DESKTOP-291A4MD;Initial Catalog=QuanLyBanSach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyBanSach.Properties.Settings.QLBanSachConnectionString"
            connectionString="Data Source=DESKTOP-291A4MD;Initial Catalog=QLBanSach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyBanSach.Properties.Settings.QLBanSachConnectionString1"
            connectionString="Data Source=desktop-291a4md;Initial Catalog=QLBanSach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>